.textBox {
  border-bottom: 1px solid #d8dadb;
  transition: all 0.3s;
  height: 35px;
}

.input {
  border: 0;
  outline: 0;
  padding: 0 10px 0 0;
  width: 100%;
  font-size: 14px;
  background: transparent;
}

.active {
  border-color: #0683df;
}

.icon {
  font-size: 14px;
  color: #119de9;
  cursor: pointer;
}

.disabled {
  cursor: not-allowed;
}

.success {
  color: rgb(6, 130, 6);
  position: absolute;
  bottom: 3px;
  margin-bottom: 0;
  transition: all 0.2s;
}
.Container {
  position: relative;
  /* padding: 10px 12px;
  border-radius: 5px; */
  transition: all 0.3s;
}
/* .hover:hover {
  background-color: #f1f2f2;
}
.bgActive {
  background-color: #eff5fb;
} */
.label {
  font-size: 14px;
  color: #9a9a9a;
}
.labelEle {
  position: relative;
}
.svg {
  position: absolute;
  right: -7px;
  top: 3px;
}
.mandatory {
  color: hsla(0, 71.91%, calc(53.92% + calc(0 * 1%)), calc(1 + 0));
}
