.Container {
  box-sizing: border-box;
  background-color: #e8ebee;
  gap: 10px;
}
.datacontainer {
  gap: 10px;
}

.bg {
  background-color: #e8ebee;
  padding: 10px 10px 0;
}
.gap {
  padding: 10px 10px 0 10px;
}
.searchContainer,
.emptyContainer {
  background: #fff;
}

.discription {
  font-size: 20px;
  color: #6c757d;
}
.quickHeader {
  background-color: hsla(227, 27.27%, calc(23.73% + calc(0 * 1%)), calc(1 + 0));
  height: 3rem;
}
.quickContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
}
.qClose {
  background: #4096ff;
  color: #fff;
  padding: 15px;
  cursor: pointer;
}
.qhMid {
  gap: 20px;
  padding: 0 15px;
}
.qHeaderText {
  color: #fff;
}
.qhRight {
  gap: 20px;
}
/* .qPre {
  color: gray;
} */
.qvDetail {
  color: #4096ff;
}
.qNext {
  color: #fff;
}
.qPre,
.qNext,
.qvDetail {
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
}
.qWraper {
  background-color: #edf3f8;
  padding: 20px 10px 10px;
  box-sizing: border-box;
}
.qContent {
  gap: 10px;
}
.qInfo,
.qField,
.qNote {
  width: 33%;
}
.qInfo,
.qField {
  background-color: #fff;
  border: 1px solid hsla(210, 33.33%, calc(94.12% + calc(0 * 1%)), calc(1 + 0));
}
.qSocial {
  font-size: 1.5rem;
  padding: 10px 0;
  color: #a6abb0;
}
.qSocial i {
  cursor: pointer;
}
.qUser {
  padding: 25px 0;
  border-bottom: 1px solid #f0f0f0;
}
.qcall {
  gap: 30px;
  color: #4096ff;
  cursor: pointer;
  font-size: 18px;
}
.mb15 {
  margin-bottom: 5px;
}
.qdec {
  font-size: 12px;
  color: #abacad;
}
.qFields {
  padding: 10px 5px;
  border-bottom: 1px solid #f0f0f0;
  gap: 10px;
}
.qtitle,
.qvalue {
  font-size: 14px;
}
.qtitle {
  width: 35%;
}
.qPlace {
  color: #d9d9d9;
}
.qActiveTxt {
  color: #4096ff;
}
.qFieldHead {
  padding: 15px 20px;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid #f0f0f0;
}
.qNoteBox {
  background-color: #fff;
  border-radius: 2px;
}

.noteBoxHead {
  padding: 10px 15px;
  border-bottom: 1px solid #f0f0f0;
  font-weight: 700;
}
.qNoteContent {
  padding: 10px;
  color: #bababa;
  text-align: center;
  font-size: 13px;
}
.noteListBox {
  max-height: 18.75rem;
  background: #edf3f8;
  padding: 5px;
  border-radius: 4px;
}
