.Container {
  border-radius: 5px;
  background-color: #fff;
}
.header {
  border-bottom: 1px solid #e7e7e7;
  padding: 20px;
}
.heading {
  font-size: 18px;
  text-transform: uppercase;
}
.child {
  padding: 20px;
}
.actions {
  gap: 30px;
}
