.btnBox {
  border-radius: 2px;
}
.btn {
  border: 0;
  outline: 0;
  background: #fff;
  padding: 5px;
  min-width: 35px;
  cursor: pointer;
  border-radius: 5px;
  color: #777879;
  transition: all 0.3s ease;
}
.selected {
  color: #fff;
  background: #1677ff;
}
.Container {
  padding: 10px 20px 10px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 5px;
  gap: 6rem;
}
.head {
  font-size: 20px;
  font-weight: bold;
}
.viewtxt {
  margin-right: 5px;
  font-size: 16px;
  font-weight: bold;
}

.count {
  font-size: 16px;
  text-decoration: underline;
  color: #1677ff;
}
