.ant-table-tbody .ant-table-row:nth-child(even) {
  background-color: gray;
}

.ant-table-row {
  font-size: 20px;
  height: 64px;
}

.ant-table-tbody > tr.ant-table-row:hover > td,
.ant-table-tbody > tr > td.ant-table-cell-row-hover {
  background-color: lightgray;
}
